/* ========TAG LAYOUT======== */
	body{
		margin:0px;
		padding:0px;
		line-height:1.6;
		letter-spacing:1px;
		font-family:'Mv Bol','Bodoni 72 Smallcaps','筑紫A丸ゴシック','MS ゴシック',Helvetica,sans-serif;
		font-size:12px;
		color:#333;
		background-image: url(../image/ec1.jpg);
/* 		画像を常に天地左右の中央に配置 */
		background-position: center center;
/* 		画像をタイル状に繰り返し表示しない */
		background-repeat: no-repeat;
/* 		コンテンツの高さが画像の高さより大きい時、動かないように固定 */
		background-attachment: fixed;
/* 		表示するコンテナの大きさに基づいて、背景画像を調整 */
		background-size: cover;
	}
	table{
		text-align:center;
		margin:0 auto;
	}
/* ========ID LAYOUT======== */
	#contents{
		width:80%;
		height:auto;
		margin:50px auto;
		background-color:rgba(255,255,255,0.7);
	}
	#header{
		width:100%;
		height:50px;
		background-color:#DCDCDC;
	}
	#header p{
		float:left;
		margin:30px 2em 0px 0px;
		padding-left:2em;
	}
	#left{
		float:left;
		width:65%;
/* 		height:90%; */
	}
	#right{
		float:right;
		width:35%;
/* 		height:90%; */
	}
	#top{
		width:70%;
		margin:30px auto;
		border:1px solid rgba(128,128,128,0.8);
	}
	#main{
		width:100%;
		height:auto;
		text-align:center;
	}
	#footer{
		width:100%;
		height:50px;
		margin:0;
		padding:0;
		background-color:#DCDCDC;
		clear:both;
/* 		position:absolute; */
		bottom:0;
/* 		position:fixed; */
/* 		bottom:0; */
	}
